# SGC-FileCopyrightText: 2026 - 2026 Oneill
#
# SGC-License-Identifier: AGPL-3.0-or-later

---

- when: not sgc_playbook_uid and not sgc_playbook_uid
  block:
    - name: Ensure group is created
      ansible.builtin.group:
        name: "{{ sgc_playbook_group_name }}"
        gid: "{{ omit if sgc_playbook_gid is none else sgc_playbook_gid }}"
        state: present
        system: "{{ sgc_group_system }}"
      register: sgc_base_group_result

    - name: Ensure user is created
      ansible.builtin.user:
        name: "{{ sgc_playbook_user }}"
        uid: "{{ omit if sgc_playbook_uid is none else sgc_playbook_uid }}"
        state: present
        group: "{{ sgc_playbook_group_name }}"
        home: "{{ sgc_playbook_user_home }}"
        create_home: false
        system: "{{ sgc_user_system }}"
        shell: "{{ sgc_user_shell }}"
      register: sgc_base_user_result

    - name: Initialize sgc_playbook_uid and sgc_playbook_gid
      ansible.builtin.set_fact:
        sgc_playbook_uid: "{{ sgc_base_user_result.uid }}"
        sgc_playbook_gid: "{{ sgc_base_group_result.gid }}"
